<header>
    <div class="title" *ngIf="!islogged">
        <div class="container text-center ">
            <h1>Let's Start To Upgrade Your Car</h1>
            <button class="btn">Register</button>
            <button class="btn">login</button>
        </div>
    </div>
</header>


<!-- end header -->

<div class="features text-center pt-5 pb-5 ">
    <div class="container">
      <div class="main-title position-relative mb-5">
        <h2>our services</h2>
      </div>


      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="feat align-items-center">
            <div class="icon-holder">
              <img src="../../assets/img/sp2.jpg" alt="">
            </div>
            <h3 class="mb-2 mt-2">Spare Parts</h3>
            <p class="text-black-50">Lorem ipsum dolor sit amet.</p>
          </div>

          
        </div>

        <div class="col-md-6 col-lg-4">
          <div class="feat align-items-center">
            <div class="icon-holder">
              <img src="../../assets/img/acc.jpg" alt="">
            </div>
            <h3 class="mb-2 mt-2">Accessories</h3>
            <p class="text-black-50">Lorem ipsum dolor sit amet.</p>
          </div>

          
        </div>



        <div class="col-md-6 col-lg-4">
          <div class="feat align-items-center">
            <div class="icon-holder">
              <img src="../../assets/img/oi.jpg" alt="">
            </div>
            <h3 class="mb-2 mt-2">Accessories</h3>
            <p class="text-black-50">Lorem ipsum dolor sit amet.</p>
          </div>

          
        </div>


      </div>
    </div>
  </div>

<!-- end features -->


<!-- Start brands -->
<div class="car-brands text-center pt-5 pb-5 bg-light">
    <div class="container">
      <div class="main-title position-relative mb-5">
        <h2>Top Barnds</h2>
      </div>


      <div class="row">
        <div class="col-md-4 col-lg-3 ">
          <div class="brand align-items-center ">
            <div class="brand-img">
              <img src="../../assets/img/Chery-1.jpg" alt="">
            </div>
            <h4 class="mb-2 mt-2">Brand 1</h4>


          </div>

        </div>

        <div class="col-md-4 col-lg-3 ">
          <div class="brand align-items-center">
            <div class="brand-img">
              <img src="../../assets/img/logaster-2020-08-h-carloso-1-11.png" alt="">
            </div>
            <h4 class="mb-2 mt-2">Brand 1</h4>


          </div>

        </div>



        <div class="col-md-4 col-lg-3 ">
          <div class="brand align-items-center">
            <div class="brand-img">
              <img src="../../assets/img/download.jpg" alt="">
            </div>
            <h4 class="mb-2 mt-2">Brand 1</h4>


          </div>

        </div>



        <div class="col-md-4 col-lg-3 ">
          <div class="brand align-items-center">
            <div class="brand-img">
              <img src="../../assets/img/12-jaguar-car-logo-png-brand-image.png.crdownload" alt="" >
            </div>
            <h4 class="mb-2 mt-2">Brand 1</h4>


          </div>

        </div>



        <div class="col-md-4 col-lg-3 ">
          <div class="brand align-items-center">
            <div class="brand-img">
              <img src="../../assets/img/5ec3e46558550c000442774b.png" alt="" >
            </div>
            <h4 class="mb-2 mt-2">Brand 1</h4>


          </div>

        </div>


        <div class="col-md-4 col-lg-3 ">
          <div class="brand align-items-center">
            <div class="brand-img">
              <img src="../../assets/img/9-jeep-car-logo-png-brand-image.png" alt="">
            </div>
            <h4 class="mb-2 mt-2">Brand 1</h4>


          </div>

        </div>



        <div class="col-md-4 col-lg-3 ">
          <div class="brand align-items-center">
            <div class="brand-img">
              <img src="../../assets/img/logaster-2020-08-h-carloso-1-11.png" alt="">
            </div>
            <h4 class="mb-2 mt-2">Brand 1</h4>


          </div>

        </div>



        <div class="col-md-4 col-lg-3 ">
          <div class="brand align-items-center">
            <div class="brand-img">
              <img src="../../assets/img/Chery-1.jpg" alt="">
            </div>
            <h4 class="mb-2 mt-2">Brand 1</h4>


          </div>

        </div>
      </div>
    </div>
  </div>



  <!-- end brands -->


  <div class="top-marchant text-center pt-5 pb-5 ">
    <div class="container">
      <div class="main-title position-relative mb-5">
        <h2>Top Products</h2>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 ">
          <div class="marchent align-items-center">
            <div class="marchent-img">
              <img src="../../assets/img/car.jpg" alt="">
            </div>
            <p class="mb-2 mt-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </p>


          </div>

        </div>

        <div class="col-md-6 col-lg-4 ">
          <div class="marchent align-items-center">
            <div class="marchent-img">
              <img src="../../assets/img/car.jpg" alt="">
            </div>
            <p class="mb-2 mt-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </p>


          </div>

        </div>


        <div class="col-md-6 col-lg-4 ">
          <div class="marchent align-items-center">
            <div class="marchent-img">
              <img src="../../assets/img/car.jpg" alt="">
            </div>
            <p class="mb-2 mt-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </p>


          </div>

        </div>



      </div>


    </div>
  </div>

  <!-- end marchent -->



  <div class="repair-center  mt-5">
    <div class="container">
      <div class="main-title position-relative mb-5 text-center ">
        <h2>Maintenace Center</h2>
      </div>
      
      <div class="row mt-5">
        <div class="info col-md-6 ">

          <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab voluptatem beatae doloribus ipsa rem necessitatibus cupiditate, deleniti distinctio perferendis vero enim porro voluptate? Quod consequuntur molestiae sequi pariatur magnam veniam.</P>
          <a class="btn rounded-pill" href="">Show more</a>

        </div>
        <div class="col-md-6">
          <div class="center-img">
            <img src="../../assets/img/[removal.ai]_tmp-63ce5041227aa.png" alt="">
          </div>

        </div>
      </div>

    </div>
  </div>


  <!-- end center -->


  <div class="thay-say text-center mt-2 mb-5">
    <div class="container">
      <div class="main-title position-relative mb-5">
        <h2>What thay say ?</h2>
      </div>
<div class="row justify-content-center">
  <div class="col-lg-3  comment">
    <div class="user-img mt-3">
      <img src="../../assets/img/per.jpg" alt="" class="img-fluid">
    </div>
    <p class="para mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="col-lg-3  comment">
    <div class="user-img mt-3">
      <img src="../../assets/img/per.jpg" alt="" class="img-fluid">
    </div>
    <p class="para mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="col-lg-3  comment">
    <div class="user-img mt-3">
      <img src="../../assets/img/per.jpg" alt="" class="img-fluid">
    </div>
    <p class="para mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  </div>
</div>

    </div>
  </div>