header{
    background-color: #3b3e41;
}
.btn{
    background-color: #f0A942;
    width: 10rem;
    margin: 10px;
    padding: 3px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 4rem;
}

h1{
    padding-top: 6rem;
    color: white;
    font-size: 45px;
    margin-bottom: 3rem;
}




.features{
    color: var(--dark);
    text-transform: capitalize;
}
.main-title::after{
    content: "";
    width: 100px;
    height: 2px;
    background-color: #f0A942;
    position: absolute;
    /* bottom: 5px; */
    left: 50%;
    transform: translateX(-50%);
}
img{
    width: 100%;
    height: 100%;
}

.feat{
    /* border: 1px solid var(--section-color); */
    padding-top: 20px;
}

.icon-holder{
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
}


.icon-holder img{
    border-radius: 50%;

}
/* end features */


h4{
    color: var(--dark);
}

.brand-img{
    /* width: 200px; */
    height: 150px;
    box-shadow: 3px 3px 1px gainsboro;
}
.brand-img img{
    background-color: white;
    padding: 40px;
}

.brand-img:hover{
    box-shadow: 5px 5px 3px gainsboro;
}


/* end brand */


.marchent .marchent-img img{
    height: 200px;
    width: 200px;
    /* border-radius: 50%; */

}

.marchent .marchent-img img{
    padding:3px;
    border: 1px solid #ccc;
    background-color: #fff;
}

i{
    color: #f0A942;
    
}


/* end marchent */


/* center */

.repair-center{
    background-color:ghostwhite;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* .center-img{
    width: 38rem;
    height: 25rem;
} */

.info{
    margin-top: 7rem;
}

.info .btn{
    width: 150px;
    border: 1px solid  #f0A942;
    background-color: #f0A942;
    ;
    font-weight: bold;
}


/* end center */


/* thay say  */
.user-img{
    width:50px;
    height: 50px;
    margin: auto;
}
.user-img img{
    padding:1px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50%;
}

.comment{
    border: gainsboro 1px solid;
    /* padding-top: 20px; */
    margin: 5px;
}

/* end thay say */
