<div class="container">
  <div class="row">
    <!-- <div class="col-md-6 mt-5 mb-5 text-center">
      <select (change)="changemaintaince($event)" class="form-control">
        <option  value="All">All</option>
        <option [value]="city" *ngFor="let city of cities">{{ city }}</option>
      </select>
    </div> -->
    <!-- <div class="col-md-3 mt-5 mb-5"><span class="btn btn-warning text-white"(click)="navigate()">back to my dashboard</span></div>
  </div> -->
    <div class="row">
      <app-singlecardmaintaince
        *ngFor="
          let card of maintaincecenter_data "[card]="card"
></app-singlecardmaintaince>
  
    </div>
  </div>