<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
    <span class="menu" ><i class="fa fa-bars"></i></span>
</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">DashBoard</h5>
    <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
  </div>
  
  <div class="offcanvas-body">
<ul class="m-0 p-0">
    
    <!-- <li routerLink="/home"> <i class="fa fa-house"></i> Go to website</li> -->
    <li routerLink="home"> <i class="fa fa-house"></i>Home</li>

    <li routerLink="booking"> <i class="fa fa-cart-plus"></i>Show Your Booking </li>

    

</ul>
  </div>
  <footer>
    <div>

        <ul class=" p-3">
            <li routerLink="/home"><i class="fa fa-rotate-left"></i>Go to website</li>

        </ul>

    </div>
  </footer>
</div>